<div class="header bg-gradient-info pb-7 pt-md-5">
  <!--<div class="container">
    <div class="header-body">
      <div class="row">
        <div class="col-xl-4 col-lg-4">
          <div class="card card-stats mb-4 mb-xl-0 bg-gradient-info border-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <!-Autocompletion & ajout a la liste des capteurs a afficher->
                  <form [formGroup]="SearchCapteurForm">
                    <mat-form-field floatLabel="never">
                      <input matInput type="text" placeholder="Sensor's Type Name" matInput [formControl]="myControl"
                        [matAutocomplete]="auto">
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of sensorTypes" value="{{option.name + ' '+option.version}}">
                          {{ option.name + ' ' + option.version }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </form>
                </div>
                <div class="col-auto">
                  <button class="btn btn-white" type="button" (click)="onChooseSensorType()">
                    <i class="fas fa-search rounded-circle shadow "></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
</div>
<div class="container-fluid mt--5">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-dark shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="text-white mb-0">Diagramme</h2>
              <h6 class="text-white mb-0 text-uppercase"> {{typeGraph}} Graph</h6>
            </div>
            <!--
            <button class="btn btn-light" (click)="line()">Line Graph</button>
            <button class="btn btn-light" (click)="pie()">Camembert</button>
            <button class="btn btn-light" (click)="bar()">Bar Graph</button>-->
            <div class="col-auto">

              <button class="btn btn-light " (click)="typeData='PM1';tracerGraph()">PM1</button>
              <button class="btn btn-light " (click)="typeData='PM2_5';tracerGraph()">PM2_5</button>
              <button class="btn btn-light " (click)="typeData='PM10';tracerGraph()">PM10</button>
              <button class="btn btn-light " (click)="typeData='TEMP';tracerGraph()">TEMP</button>
              <button class="btn btn-light " (click)="typeData='HUM';tracerGraph()">HUM</button>
              <button class="btn btn-light " (click)="typeData='PRESS';tracerGraph()">PRESS</button>
              <button class="btn btn-light " (click)="typeData='CO2';tracerGraph()">CO2</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="chart" class="chart">
          </div>
        </div>
        <div class="row">
          <div class="col-xl-7">

          </div>
          <div class="col-xl-5">
            <div class="col-auto">
              <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                <i class="fas fa-chart-line" (click)="line()"></i>
              </div>&nbsp;
              <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                <i class="fas fa-chart-bar" (click)="bar()"></i>
              </div>&nbsp;
              <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                <i class="fas fa-chart-pie " (click)="pie()"></i>
              </div>&nbsp;
            </div>
          </div>
        </div>
        <div class="card-footer bg-dark ">
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow bg-gradient-dark">
        <div class="card-body">
          <div class="row">
            <br>
            <div class="col">
              <!--Autocompletion & ajout a la liste des capteurs a afficher-->
              <form [formGroup]="SearchCapteurForm">
                <mat-form-field floatLabel="never">
                  <input matInput type="text" placeholder="Sensor's Type Name" matInput [formControl]="myControl"
                    [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of sensorTypes" value="{{option.name + ' '+option.version}}">
                      {{ option.name + ' ' + option.version }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>
            </div>
            <div class="col-auto">
              <button class="btn btn-info" type="button" (click)="onChooseSensorType()">
                <i class="fas fa-search rounded-circle shadow "></i>
              </button>
            </div>
          </div>
          <div class="slist">
            <div *ngFor="let item of sensorChoosed "
              class=" border border-1 border-info bg-light rounded m-2 form-group custom-control custom-control-alternative custom-checkbox">
              <label>
                <input  type="checkbox" value="{{item.name}}" (change)="selectedSensor(item,$event.target.checked)">
                &nbsp;{{item.name+" "+item.subDisplayName}} <br>
                {{item.sensorMetadataName}}
              </label>
            </div>
          </div>
          <br>
          <div class="text-center">
            <button class="btn btn-outline-success" (click)="tracerGraph()">
              Visualiser
            </button>
            <button class="btn btn-primary" type="button" (click)="resetGraph()">
              Reset Graph
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="mb-3">
    <div class="card shadow">
      <div class="card-header bg-transparent">
        <h3 class="mb-0">Available versions of sensors</h3>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Place</th>
              <th scope="col">Sensor Type</th>
              <!--<th scope="col">Action</th>-->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of checkValue">
              <td>{{item.name}}</td>
              <td>{{item.subDisplayName}}</td>
              <td>{{item.sensorMetadataName}}</td>
              <!--<td><button class="only-outline" type="button" matTooltip="Delete on board"
                  (click)="onDeleteOnTable(item)">
                  <i class="fas fa-trash-alt fa-lg text-danger"></i>
                </button></td>-->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>