  <div  style='background-color:#00A465;'>
    <div class="row" >
      <div class="col-xs col-md-3 col-lg-3">
        <img src="assets/img/logo/qameleo.png"
          class="rounded float-left"
          style=" height:5em; margin: 1em"
          alt="www.ird.fr">
      </div>
    <div class="col-xs col-md-9 col-lg-9 " >
      <h1 style="margin-top: 1em;color:#FFFFFF">
        Que respirez-vous sur le Campus IRD ?
      </h1>
    </div>
  </div>
</div>

<!---<div style='background-image:linear-gradient(#265baa,#88bfdc)'-->
<div style='background-image:linear-gradient(#00A465,#88bfdc)'>
    <qr-qameleo></qr-qameleo>
    <div style="margin-left: 2em;color:#FFFFFF">
      *measures réalisées en continue avec une périodicité de 15 minutes
    </div>
    <div class="container-fluid">
      <qr-qameleo-footer></qr-qameleo-footer>
    </div>
</div>
