    <div class="main-content">
        <div class="container">
            <div class="row">
              <div class="col-xl">
                  <h1 class="display-2"><i class="fas fa-thermometer-three-quarters"></i> 12°</h1>
              </div>
              <div class="col-xl">
                  
                  <h1 class="display-2"><i class="fas fa-tint"></i> 70%</h1>
              </div>
            </div>
            <div class="row">
              <div class="col">
                  <pm-progress-bar [title]="'PM 1'" [value]=25></pm-progress-bar>
              </div>
              <div class="col">
                  <pm-progress-bar [title]="'PM 2.5'"  [value]=85></pm-progress-bar>
              </div>
              <div class="col">
                  <pm-progress-bar [title]="'PM 10'"  [value]=55></pm-progress-bar>
              </div>
            </div>
          </div>
    <div class="container-fluid">
    <app-footer></app-footer>
  </div> 
</div>
