<footer class="footer"
  style="text-align: center; margin-left: auto; margin-right: auto;">
  <img src="assets/img/foot/ummisco.jpg"
    class="rounded "
    style=" height:40px; margin: 10px"
    alt="www.ird.fr">
  <img src="assets/img/foot/CRC.gif"
    class="rounded "
    style=" height:40px; margin: 10px"
    alt="www.ird.fr">
  <img src="assets/img/foot/cofab.gif"
    class="rounded "
    style=" height:40px; margin: 10px"
    alt="www.ird.fr">
  <img src="assets/img/foot/ird.gif"
    class="rounded "
    style=" height:40px; margin: 10px">
  <img src="assets/img/foot/UBFC.png"
    class="rounded "
    style=" height:40px; margin: 10px">
</footer>
