<footer class="footer" >
  <img src="assets/img/foot/ummisco.jpg" class="rounded float-left" style=" height:40px; margin: 10px" alt="www.ird.fr">
  <img src="assets/img/foot/CRC.gif" class="rounded float-left" style=" height:40px; margin: 10px" alt="www.ird.fr">
  <img src="assets/img/foot/cofab.gif" class="rounded float-left" style=" height:40px; margin: 10px" alt="www.ird.fr">
<img src="assets/img/foot/ird.gif" class="rounded float-left" style=" height:40px; margin: 10px" >
<img src="assets/img/foot/UBFC.png" class="rounded float-left" style=" height:40px; margin: 10px">
</footer>