<div class="header bg-gradient-dark pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <app-sensor-version></app-sensor-version>
    </div>
  </div>
</div>

<div class="container mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col-xl-8 mb-0 mb-xl-0">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Available versions of sensors</h3>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Version</th>
                <th scope="col" class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <!--sensors1 o lieu de sensors-->
              <tr *ngFor="let sensor of sensors">
                <td>
                  {{sensor.name}}
                </td>
                <td>
                  {{sensor.version}}
                </td>
                <td>
                  <button class="btn btn-outline-success" (click)="displaySensor=sensor;operation='details';">
                    Details</button>
                  <button class="btn btn-outline-success" (click)="operation='update';sensorUpdate=sensor"> Update</button>
                  <button class="btn btn-outline-danger" (click)="operation='delete';sensorDelete=sensor"> Delete</button>
                </td>
              </tr>
              <tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <div class="col-xl-4">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="text-white mb-0">
                Sensor's Operation
              </h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div *ngIf="operation == 'details'">
            <h3 class="text-white">Sensor Details</h3>
            <ul class="text-white mt-1" *ngIf="displaySensor.id!=0">
              <li>Name: {{displaySensor.name}}</li>
              <li>Version: {{displaySensor.version}}</li>
              <li>Documentation: {{displaySensor.documentation}}</li>
              <li>Other: {{displaySensor.mesuredParameters[0].varName}}</li>
            </ul>
          </div>
          <div *ngIf="operation=='update'">
            <h3 class="text-white">Update Sensor </h3>
            <br>
            <form role="form">
              <div class="form-row mb-3 ">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Name" name="Name" [(ngModel)]="sensorUpdate.name"/>
                </div>
              </div>
              <div class="form-row mb-3">
                <div class="col">
                  <input type="number" class="form-control" placeholder="latitude" name="latitude" id="latitude" />
                </div>
                <div class="col">
                  <input type="number" class="form-control" placeholder="longitude" name="longitude" id="longitude" />
                </div>

              </div>
              <br />
              <div class="col">
                <button type="button" class="btn btn-primary">Update Sensor</button>
              </div>
            </form>
          </div>
          <div *ngIf="operation == 'delete' ">
            <h3 class="text-white">Remove Sensor</h3>
            <br>
            <form role="form">
              <div class="form-row mb-3 ">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Name" name="Name" formControlName="Name" />
                </div>
              </div>
              <div class="col">
                <button type="button" class="btn btn-primary">Remove Sensor</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>