<div class="header bg-gradient-dark pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <app-sensor-version></app-sensor-version>
    </div>
  </div>
</div>

<div class="container mt--7">
  <!-- Table -->
  <mat-tab-group dynamicHeight="true">
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="text-white">Available Sensors
        </div>
      </ng-template>
      <!-- Table -->
      <div class="row mt-2">
        <div class="col-xl-8 mb-0 mb-xl-0">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <h3 class="mb-0">Available Sensors
                <button class="right"
                  mat-button
                  type="button"
                  (click)="refreshSensors()">
                  Reload
                </button>
              </h3>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <!--sensors1 o lieu de sensors-->
                  <tr *ngFor="let sensor of sensors;">
                    <td>{{sensor.name}}</td>
                    <td>{{sensor.sensorMetadataName}}</td>
                    <td>
                      <button class="only-outline"
                        type="button"
                        matTooltip="Details"
                        (click)="displaySensor=sensor;operationSensor='details'">
                        <i class="fas fa-info-circle fa-lg text-success"></i>
                      </button>
                      <button class="only-outline"
                        type="button"
                        matTooltip="Update"
                        data-toggle="modal"
                        data-target="#modal-form-sensor"
                        (click)="sensorUpdate=sensor;operationSensor='update'">
                        <i class="fas fa-edit fa-lg text-success"></i>
                      </button>
                      <button class="only-outline"
                        type="button"
                        matTooltip="Delete"
                        (click)="sensorDelete=sensor;operationSensor='delete'">
                        <i class="fas fa-trash-alt fa-lg text-danger"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card bg-gradient-default shadow mt-3">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h2 class="text-white mb-0">
                    Sensor's Details
                  </h2>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div *ngIf="operationSensor == 'details'">
                <div class="text-white mt-1"
                  *ngIf="displaySensor.idSensor!=0">
                  Name: {{displaySensor.name}}<br>
                  Type: {{displaySensor.sensorMetadataName}}<br>
                  Place: à calculer d'après les coordonnées GPS ?<br>
                  Longitude: {{displaySensor.longitude}}<br>
                  Latitude: {{displaySensor.latitude}}<br>
                  <a class="btn btn-white"
                    mat-button
                    routerLinkActive="active"
                    [routerLink]="['/maps',displaySensor.latitude+'&'+displaySensor.longitude]">
                    <i class="fas fa-map-marker-alt"></i>
                    Show on Map
                  </a><br>
                  Display Name: {{displaySensor.displayName}}<br>
                  Display Name Subtitle: {{displaySensor.subDisplayName}}<br>
                </div>
              </div>
              <!-- <div *ngIf="operationSensor =='update'">
                <h3 class="text-white">Update Sensor</h3>
                <br>
                <form role="form">
                  <div class="form-row mb-3 ">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Name"
                        name="Name" [(ngModel)]="sensorUpdate.name"/>
                    </div>
                  </div>
                  <div class="form-row mb-3">
                    <div class="col">
                      <input type="number" class="form-control" placeholder="latitude"
                        name="latitude" [(ngModel)]="sensorUpdate.latitude" />
                    </div>
                    <div class="col">
                      <input type="number" class="form-control" placeholder="longitude"
                        name="longitude" [(ngModel)]="sensorUpdate.longitude" />
                    </div>

                  </div>
                  <br />
                  <div class="col">
                    <button type="button" class="btn btn-primary">Update</button>
                  </div>
                </form>
              </div> -->
              <div *ngIf="operationSensor == 'delete' ">
                <h3 class="text-white">Remove Sensor</h3>
                <br>
                <!-- <form role="form">
                  <div class="form-row mb-3 ">
                    <div class="col">
                      <input class="form-control"
                        type="text"
                        placeholder="Name"
                        name="Name"
                        formControlName="Name" />
                    </div>
                  </div>
                </form> -->
                <button class="btn btn-primary"
                  type="button"
                  mat-button
                  (click)="removeSensor(displaySensor.idSensor)">
                  Remove
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="text-white">Available Types of Sensor
        </div>
      </ng-template>
      <div class="row mt-2">
        <div class="col-xl-8 mb-0 mb-xl-0">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <h3 class="mb-0">Available Types of Sensor
                <button class="right"
                  mat-button
                  type="button"
                  (click)="refreshSensorTypes()">
                  Reload
                </button>
              </h3>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Version</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <!--sensors1 o lieu de sensors-->
                  <tr *ngFor="let sensor of sensorTypes;">
                    <td>{{sensor.name}}</td>
                    <td>{{sensor.version}}</td>
                    <td>
                      <button class="only-outline"
                        type="button"
                        matTooltip="Details"
                        (click)="displaySensorType=sensor;operationType='details'">
                        <i class="fas fa-info-circle fa-lg text-success"></i>
                      </button>
                      <button class="only-outline"
                        matTooltip="Update"
                        data-toggle="modal"
                        data-target="#modal-form-sensor-type"
                        (click)="sensorTypeUpdate=sensor;operationType='update'">
                        <i class="fas fa-edit fa-lg text-success"></i>
                      </button>
                      <button class="only-outline"
                        matTooltip="Delete"
                        (click)="sensorTypeDelete=sensor;operationType='delete'">
                        <i class="fas fa-trash-alt fa-lg text-danger"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card bg-gradient-default shadow mt-3">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h2 class="text-white mb-0">Sensor Type's Details</h2>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div *ngIf="operationType == 'details'">
                <div class="text-white mt-1"
                  *ngIf="displaySensorType.idType!=0">
                  Name: {{displaySensorType.name}}<br>
                  Version: {{displaySensorType.version}}<br>
                  Data Separator: {{displaySensorType.dataSeparator}}<br>
                  Measured Parameters (in order):<br>
                  <div class="row">
                    <div class="col-auto pt-1"
                      *ngFor="let parameter of metadataParameters(displaySensorType)">
                      <button class="icon icon-shape bg-gray text-white no-outline"
                        mat-fab
                        type="button"
                        matTooltip="Measured parameter: {{parameter.parameter}}
                        Unit: {{parameter.unit}}
                        Data format: {{parameter.dataFormat}}"
                        matTooltipClass="multi-line">
                        <i class="{{parameter.icon}}"></i>
                      </button>
                    </div>
                  </div>
                  <button class="mt-2"
                    type="button"
                    mat-raised-button
                    data-toggle="modal"
                    data-target="#modal-description">
                    Show description
                  </button>
                </div>
              </div>

              <!-- <div *ngIf="operationType=='update'">
                <h3 class="text-white">Update Sensor Type</h3>
                <br>
                <form role="form">
                  <div class="form-row mb-3 ">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Name"
                      name="Name" [(ngModel)]="sensorUpdate.name"/>
                    </div>
                  </div>
                  <br />
                  <div class="form-row mb-3 ">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Version"
                      name="Version" [(ngModel)]="sensorUpdate.version"/>
                    </div>
                  </div>
                  <br />
                  <div class="col">
                    <button type="button" class="btn btn-primary">Update</button>
                  </div>
                </form>
              </div> -->
              <div *ngIf="operationType == 'delete' ">
                <h3 class="text-white">Remove Sensor Type</h3>
                <br>
                <!-- <form role="form">
                  <div class="form-row mb-3 ">
                    <div class="col">
                      <input class="form-control"
                        type="text"
                        placeholder="Name"
                        name="Name"
                        formControlName="Name" />
                    </div>
                  </div>
                </form> -->
                <button class="btn btn-primary"
                  type="button"
                  mat-button
                  (click)="removeSensorMetadata(displaySensorType.idType)">
                  Remove
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div class="modal fade"
  id="modal-description"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal-descriptionLabel"
  aria-hidden="true">
  <div class="modal-dialog modal- modal-dialog-centered modal-sm"
    role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title"
          id="exampleModalLabel">
          {{displaySensorType.name}} -- {{displaySensorType.version}}
        </div>
        <button class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{displaySensorType.description}}
      </div>
      <div class="modal-footer">
        <button mat-button
          type="button"
          data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
