<div class="header bg-gradient-dark pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <app-sensor-version></app-sensor-version>
    </div>
  </div>
</div>

<div class="container mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col-xl-8 mb-0 mb-xl-0">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Available versions of sensors</h3>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Measured parameters</th>
                <th scope="col" class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sensor of sensors">
                <td>
                  {{sensor.name}}
                </td>
                <td>
                  {{sensor.version}}
                </td>
                <td>
                  <button class="btn btn-outline-success" (click)="displaySensor=sensor"> Details</button>
                  <button class="btn btn-outline-success"> Update</button>
                  <button class="btn btn-outline-danger"> Delete</button>
                </td>
              </tr>
              <tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <div class="col-xl-4">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="text-white mb-0">Sensor description</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ul class="text-white mt-1" *ngIf="displaySensor.id!=0">
            <li>Name: {{displaySensor.name}}</li>
            <li>Version: {{displaySensor.version}}</li>
            <li>Documentation: {{displaySensor.documentation}}</li>
            <li>Other: {{displaySensor.mesuredParameters[0].varName}}</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>