.badge-index {
  background-color: gainsboro;
  color: black;
  position: absolute;
  right: 14px;
  top: -10px;
}

.color-gray {
  color: gray;
}

.form-max-lg {
  width: 100%;
}

.form-separator {
  width: 87%;
}

.icon-gps {
  position: absolute;
  right: 65px;
}

.icon-map {
  position: absolute;
  right: 65px;
}

.icon-metadata {
  padding-bottom: 13px;
  position: relative;
}

.icon-sign {
  position: absolute;
  right: 67px;
}

.hover-left {
  background: transparent;
	border:none;
  position: absolute;
  top: 25px;
}

.hover-left span {
  cursor: pointer;
  display: inline-block;
  left: -4px;
  position: absolute;
  top: -12px;
  transition: 0.5s;
}

.hover-left span:after {
  content: '\2039';
  font-size: 31px;
  left: -10px;
  opacity: 0;
  position: absolute;
  top: -15px;
  transition: 0.5s;
}

.hover-left:hover span {
  padding-left: 6px;
}

.hover-left:hover span:after {
  left: 0;
  opacity: 1;
}

.hover-right {
  background: transparent;
	border:none;
  position: absolute;
  right: 0px;
  top: 25px;
}

.hover-right span {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: -4.5px;
  top: -12px;
  transition: 0.5s;
}

.hover-right span:after {
  content: '\203A';
  font-size: 31px;
  opacity: 0;
  position: absolute;
  right: -10px;
  top: -15px;
  transition: 0.5s;
}

.hover-right:hover span {
  padding-right: 6px;
}

.hover-right:hover span:after {
  opacity: 1;
  right: 0;
}

#mapid {
  height: 300px;
}
