<form role="form">
    <div class="form-group mb-3">
        <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-align-left-2"></i></span>
            </div>
            <input class="form-control" placeholder="Type name" type="text">
        </div>
    </div>
    <div class="form-group mb-3">
        <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-align-left-2"></i></span>
            </div>
            <input class="form-control" placeholder="Version ID" type="text">
        </div>
    </div>
    <div class="form-group mb-3">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
                </div>
                    <ul class="list-group">
                        <li class="list-group-item">fdsfds</li>
                    </ul>
            </div>
        
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-primary my-4">Sign in</button>
    </div>
</form>