<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Ajout d'un utilisateur</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<form method="get" action="addsensor">
		<h1>add a new sensor</h1>
		<label>Name :</label><input type="text" id="name" name="name"/><Br/>
		<label>latitude :</label><input type="text" id="latPos" name="latPos"/><br/>
		<label>longitude :</label><input type="text" id="lonPos" name="lonPos"/><br/>
		<select name="choosenSensorType">
  			<option th:each="addr: ${sensorsTypes}" th:value="${addr.idadresse}" th:text="${addr.typeName}+', version '+${addr.version}">defaultValue</option> 
		</select>
		<br/>
		<input type='submit' name="envoyer"/>
	</form>

<h1>List of available sensor</h1>

<table>
  <thead>
    <tr>
      <th th:text="Sensor name">Name</th>
      <th th:text="Sensor version">Version</th>
      <th th:text="Location">Location</th>
    </tr>
  </thead>

  <tbody>
    <tr th:each="prod: ${sensors}">
      <td th:text="${prod.name}">prénom</td>
      <td th:text="${prod.nom}">nom</td>
    </tr>
  </tbody>
</table>
<hr/>
<a href="/" >Retour à l'accueil</a><br/>
  </body>
</html>
