<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div class="col-xl-4 col-lg-4">
          <div class="card card-stats mb-4 mb-xl-0 bg-gradient-success border-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <!--Autocompletion & ajout a la liste des capteurs a afficher-->
                  <form [formGroup]="SearchCapteurForm">
                    <mat-form-field floatLabel="never">
                      <input matInput type="text" placeholder="Sensor's Name" matInput [formControl]="myControl"
                        [matAutocomplete]="auto">
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of tabSensor" value="{{option.name}}">
                          {{ option.name }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </form>
                </div>
                <div class="col-auto">
                  <button class="btn btn-white" type="button" (click)="onSearchSensor()">
                    <i class="fas fa-search  rounded-circle shadow "></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="col-md-4 ml-2 mt-5"></div>
      <br>
      <div class="card shadow border-0">
        <div id="mapid"></div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="mb-3">
    <div class="card shadow">
      <div class="card-header bg-transparent">
        <h3 class="mb-0">Selected Sensors</h3>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Display Name</th>
              <th scope="col">Latitude</th>
              <th scope="col">Longitude</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of sensorChecked">
              <td *ngIf="item.selected==true">{{item.sensor.name}}</td>
              <td *ngIf="item.selected==true">{{item.sensor.displayName}}</td>
              <td *ngIf="item.selected==true">{{item.sensor.latitude}}</td>
              <td *ngIf="item.selected==true">{{item.sensor.longitude}}</td>
            </tr>
            <tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> 