<blockquote class="blockquote text-center" style="width: 12rem;">
    <h3 class="text-center">{{title}} </h3>  
    <span class="blockquote-body"><circle-progress
      [percent]="value"
      [radius]="50"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="getColor()"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      [titleFormat]="formatTitle"
      [showUnits]="false"
      [showSubtitle]="false"
      [lazy]="false"
      [titleFontSize]="14"
    ></circle-progress></span>
  </blockquote>